body{
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}

body, .container{
    width: 100%;
    height: 100vh;
}

/* #content{
    margin-top: 80px;
    padding-bottom: 80px;
} */

header{
    background-color:  rosybrown;
    position: fixed;
    top: 0;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    margin-left: 1%;
    height: 60px;
    width: 60px;
}

nav a{
    margin-right: 2%;
    text-decoration: none;
    color: black;
}

footer{
    background-color:  rosybrown;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.social-icons{
    margin-right: 2%;
    

}

.contact-us{
    margin-left: 2%;
    
}

.contact-us a{
    text-decoration: none;
    color: black;
}

.social-icons img{
    height: 20px;
    width: 22px;
}

.copyright{
    font-size: 10px;
}

