
.slider-images img{
    height: 150px;
    width: 150px;
}

.search-bar{
    height: 380px;
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.input-bar{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-bar input{
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    width: 30%;
}

.slider-images{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}

.city-image-card{
    padding: 4%;
}

.city-image-card img{
    border-radius: 15%;
}

.view-more {
    text-align: center;
    padding: 1% 0 7%;
}

.view-more a{
    color: black;
    text-decoration: none;
}

