body{
    margin: 0;
}
.loader-icon{
    height: 70px;
    width: 70px;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: rotateLoader 1s linear infinite;
}

@keyframes rotateLoader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);   
     }
    50% {
        transform: rotate(180deg);   
     }
    75% {
        transform: rotate(270deg);   
     }
    100% {
        transform: rotate(360deg);   
     }
}